# In this notebook we load the extracted position-comment pairs for

* Analysis
* Visualisation
* Cleaning
* Transcription error correction

In [71]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [72]:
import os
import cv2
import numpy as np
import matplotlib.pyplot as plt

In [73]:
path = 'videos'
banter_videos = []

import os
count = 0
for subdir, dirs, files in os.walk(path):
    for file in files:
        filepath = subdir + os.sep + file
        if filepath.endswith(".mp4") and ('banter' in filepath or 'Banter' in filepath):
            banter_videos.append(filepath)
            count+=1
print(f"""{count} banter blitz videos.""")

1631 banter blitz videos.

In [74]:
import pandas as pd

def video_2_data_path(video_path):
    path_parts = video_path.split('/')
    path_parts[-1] = 'fen_comment_data.csv'
    data_path = '/'.join(path_parts)
    return data_path
    
def load_data_df(data_path):
    df = pd.read_csv(data_path)
    return df

def data_exists(data_path):
    return os.path.exists(data_path)

In [75]:
banter_data = [video_2_data_path(video_path) for video_path in banter_videos 
               if data_exists(video_2_data_path(video_path))]
len(banter_data)

875

In [76]:
banter_dfs = [load_data_df(data_path) for data_path in banter_data]
banter_dfs = [df for df in banter_dfs if len(df)>0]
len(banter_dfs)

704

In [77]:
sum([len(df) for df in banter_dfs])

342888

In [70]:
df = pd.concat(banter_dfs)
df.head()

,Unnamed: 0,game_number,fen,color,moves,frame_number,next_frame_number,comment
0,0,0,rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR,white,['g1f3'],170,790,"Hello everybody, welcome to round 2 of Hunter..."
1,1,0,rnbqkbnr/pppppppp/8/8/8/5N2/PPPPPPPP/RNBQKB1R,black,"['d7d5', 'g2g3']",790,870,"match. I didn't really watch his first match,..."
2,2,0,rnbqkbnr/ppp1pppp/8/3p4/8/5NP1/PPPPPP1P/RNBQKB1R,black,['b8c6'],870,930,"match. I didn't really watch his first match,..."
3,3,0,r1bqkbnr/ppp1pppp/2n5/3p4/8/5NP1/PPPPPP1P/RNBQ...,white,"['d2d4', 'c8f5']",930,1220,"match. I didn't really watch his first match,..."
4,4,0,r2qkbnr/ppp1pppp/2n5/3p1b2/3P4/5NP1/PPP1PP1P/R...,white,"['f1g2', 'e7e6']",1220,1420,"much time, so I just, this is the only line I..."

In [14]:
df = df.dropna()

In [15]:
len(df.comment.unique())

104060

In [16]:
len(df.dropna())

163203

In [17]:
len(' '.join(df.comment.unique()).split())

2986801

In [19]:
text = ' '.join(df.comment.unique())

In [20]:
words = text.split()
len(set(words))

44775

In [21]:
for punctuation in [',','.','!','?',';',':','  ','  ','  ']:
    text = text.replace(punctuation,' ')

In [22]:
words = text.split()
len(set(words))

28683

In [24]:
vocab = list(set(words))

counted_vocab = sorted([(words.count(word),word) for word in vocab])[::-1]

counted_vocab[:100]

[(133968, 'I'),
 (86962, 'to'),
 (75311, 'the'),
 (58264, 'a'),
 (52147, 'is'),
 (39077, 'this'),
 (37982, 'and'),
 (32457, "I'm"),
 (31818, 'of'),
 (30850, 'it'),
 (30242, 'that'),
 (28140, 'play'),
 (27100, 'not'),
 (27034, 'just'),
 (25746, 'on'),
 (25484, 'So'),
 (24567, 'for'),
 (24306, 'have'),
 (23836, 'here'),
 (22951, 'Okay'),
 (22454, 'you'),
 (22345, 'be'),
 (21952, 'go'),
 (21497, 'think'),
 (21274, 'in'),
 (21107, 'but'),
 (19557, 'take'),
 (19512, 'my'),
 (19123, 'can'),
 (18142, 'so'),
 (17477, 'like'),
 (16724, 'going'),
 (16472, "it's"),
 (16369, 'with'),
 (16350, "don't"),
 (16013, 'now'),
 (15964, 'And'),
 (15365, 'he'),
 (14616, 'Yeah'),
 (14468, 'was'),
 (14224, 'do'),
 (13550, "let's"),
 (13191, 'very'),
 (12882, 'if'),
 (12635, 'some'),
 (12580, "Let's"),
 (11979, 'me'),
 (11812, 'good'),
 (11724, 'know'),
 (11596, 'Queen'),
 (11194, 'should'),
 (10772, 'then'),
 (10613, 'we'),
 (10565, 'bishop'),
 (10464, 'what'),
 (10009, 'knight'),
 (9607, 'really'),
 (9520, 'there'),
 (9420, 'But'),
 (9340, 'see'),
 (9263, 'move'),
 (9158, 'takes'),
 (9094, "I'll"),
 (9015, 'one'),
 (8982, 'will'),
 (8927, 'maybe'),
 (8629, 'or'),
 (8628, "It's"),
 (8107, 'because'),
 (8102, 'at'),
 (8043, 'Bishop'),
 (7821, 'game'),
 (7805, 'pawn'),
 (7794, 'get'),
 (7780, 'right'),
 (7701, 'rook'),
 (7540, 'want'),
 (7253, 'something'),
 (7230, 'okay'),
 (7109, 'try'),
 (7041, 'time'),
 (7037, 'bit'),
 (7031, 'position'),
 (6791, 'no'),
 (6781, 'This'),
 (6593, 'as'),
 (6559, 'up'),
 (6559, 'Now'),
 (6538, 'all'),
 (6393, 'yeah'),
 (6216, 'probably'),
 (6174, 'are'),
 (6118, 'Maybe'),
 (6035, 'about'),
 (5909, 'mean'),
 (5875, 'Oh'),
 (5869, 'queen'),
 (5728, "that's"),
 (5713, 'Knight'),
 (5559, 'playing')]

In [26]:
counted_vocab[-400:]

[(1, 'Audimong'),
 (1, "Audibon's"),
 (1, 'Aubergain'),
 (1, 'Attention'),
 (1, 'Aton'),
 (1, 'Asum'),
 (1, 'Asulu'),
 (1, 'Astrovsky'),
 (1, 'Astrits'),
 (1, 'Astralhands'),
 (1, 'Astana'),
 (1, 'Assution'),
 (1, 'Aspity'),
 (1, 'Asparo'),
 (1, 'Askerrick'),
 (1, 'Ashelagraph'),
 (1, 'Ases'),
 (1, 'Arya'),
 (1, 'Artificial'),
 (1, 'Arthouse'),
 (1, 'Arrowfold'),
 (1, 'Arrimine'),
 (1, 'Arpoles'),
 (1, 'Arota'),
 (1, 'Arno'),
 (1, 'Arnand'),
 (1, 'Armourney'),
 (1, 'Armonia'),
 (1, 'Arkady'),
 (1, 'Arie'),
 (1, 'Argentinites'),
 (1, "Argard's"),
 (1, 'Areto'),
 (1, 'Arash'),
 (1, 'Aras'),
 (1, 'Apply'),
 (1, "Apple's"),
 (1, "Appetite's"),
 (1, 'Appel'),
 (1, 'Appeals'),
 (1, 'Antonio'),
 (1, 'Antbotvinnik'),
 (1, 'Answer'),
 (1, 'Anon'),
 (1, 'Annoin'),
 (1, 'Annergetic'),
 (1, 'Anitian'),
 (1, 'Anisholo'),
 (1, "Anish's"),
 (1, 'Anders'),
 (1, 'Ancelotti'),
 (1, 'Anbania'),
 (1, 'Anatolik'),
 (1, 'Analyzing'),
 (1, 'Anagons'),
 (1, 'Ampli'),
 (1, 'Amplening'),
 (1, 'Amphiruja'),
 (1, 'Ampa-san'),
 (1, 'Among'),
 (1, 'Amitai'),
 (1, 'Amazingly'),
 (1, 'Amal'),
 (1, 'Alvina'),
 (1, 'Alternative'),
 (1, 'Altered'),
 (1, 'Altebox'),
 (1, 'Alshashnider'),
 (1, 'AlphaGo'),
 (1, 'Allay'),
 (1, "Alivea's"),
 (1, 'Alison'),
 (1, 'Alirés'),
 (1, 'Algeria'),
 (1, 'Alfredo'),
 (1, 'Aldro'),
 (1, 'Aldin'),
 (1, 'Albons'),
 (1, 'Albion'),
 (1, 'Aktoni'),
 (1, 'Akmina'),
 (1, 'Akinito'),
 (1, 'Aka'),
 (1, 'Aina'),
 (1, "Ain't"),
 (1, 'Agrave'),
 (1, 'Agnol'),
 (1, 'Agitres'),
 (1, 'Aghidres'),
 (1, 'Aggression'),
 (1, 'Ages'),
 (1, 'Agebow'),
 (1, 'Agad'),
 (1, 'Affair'),
 (1, 'Adventures'),
 (1, 'Adventure'),
 (1, 'Advantage'),
 (1, 'Adjust'),
 (1, 'Adish'),
 (1, 'Adi'),
 (1, 'Added'),
 (1, 'Actuating'),
 (1, 'Actualy'),
 (1, 'Accidents'),
 (1, 'Accepting'),
 (1, 'Accelerate'),
 (1, 'Abyssal'),
 (1, 'Abish'),
 (1, 'Abdullah'),
 (1, 'Abdelach'),
 (1, 'Abbey'),
 (1, 'AWOL'),
 (1, 'ANY'),
 (1, 'ALEX'),
 (1, 'AKA'),
 (1, 'AGV'),
 (1, 'AF6'),
 (1, 'ADNs'),
 (1, 'AD4'),
 (1, 'ACP'),
 (1, 'ABAB'),
 (1, 'AB9B5'),
 (1, 'AB3'),
 (1, 'A8xB5'),
 (1, 'A84'),
 (1, "A6's"),
 (1, 'A5B3'),
 (1, 'A3FA'),
 (1, 'A3A'),
 (1, "A3's"),
 (1, "A2's"),
 (1, 'A1B1'),
 (1, 'A-r'),
 (1, 'A-pons'),
 (1, 'A-Three'),
 (1, 'A-Queen'),
 (1, 'A-Pron'),
 (1, 'A-PONs'),
 (1, 'A-Lay'),
 (1, 'A-K'),
 (1, 'A-G-M-A-R-E-S-A-R-E-T'),
 (1, 'A-F-F-F'),
 (1, 'A-F-4'),
 (1, 'A-F-3'),
 (1, 'A-D'),
 (1, 'A-Cade'),
 (1, 'A-1'),
 (1, '9xXF5'),
 (1, '9xD3'),
 (1, '9xC2'),
 (1, '9xA8'),
 (1, '9v7'),
 (1, '9v4'),
 (1, '9v1'),
 (1, '9v'),
 (1, '9txd5'),
 (1, '9pxv5'),
 (1, '9p4'),
 (1, '9h6'),
 (1, '9f'),
 (1, '9e8'),
 (1, '9e6'),
 (1, '9e3'),
 (1, '9d1'),
 (1, '9c4s'),
 (1, '9c2'),
 (1, '9c1'),
 (1, '9bd7'),
 (1, '9b4'),
 (1, '9T4'),
 (1, '9H2'),
 (1, '9D395'),
 (1, '9D1'),
 (1, '9BV7'),
 (1, '9896'),
 (1, '9894'),
 (1, '982'),
 (1, '981'),
 (1, '98%'),
 (1, '97F6'),
 (1, '97%'),
 (1, '95g4'),
 (1, '959'),
 (1, '95-96'),
 (1, '93G3'),
 (1, '939b5'),
 (1, '9395'),
 (1, '90G'),
 (1, '90F4'),
 (1, '90C6'),
 (1, '900%'),
 (1, '90-D4'),
 (1, '9-g3'),
 (1, '9-H3'),
 (1, '9-D6'),
 (1, '9-D-1-D-7-D-3'),
 (1, '9-C-2'),
 (1, '9-B5'),
 (1, '9-6-93'),
 (1, '9-24'),
 (1, '9-2-E-2-2'),
 (1, '9-2-2-E-7-9-D-3'),
 (1, '8x'),
 (1, '8g'),
 (1, '8C'),
 (1, '8B5'),
 (1, '888'),
 (1, '8254'),
 (1, '8-1'),
 (1, '7b6'),
 (1, '7b5'),
 (1, '7G3'),
 (1, '7C5'),
 (1, '798'),
 (1, '75%'),
 (1, '737'),
 (1, '730'),
 (1, '73'),
 (1, '728'),
 (1, '72'),
 (1, '70th'),
 (1, '70728'),
 (1, '7-Watt'),
 (1, '7-Rook'),
 (1, '7-B'),
 (1, "7's"),
 (1, '6next'),
 (1, '6h6'),
 (1, '6d3'),
 (1, '6a5'),
 (1, '6GF'),
 (1, '6G'),
 (1, '6D5'),
 (1, '6B2'),
 (1, '696'),
 (1, '63'),
 (1, '62'),
 (1, '6-pounder'),
 (1, '6-7'),
 (1, '6-0'),
 (1, '5pm'),
 (1, '5k'),
 (1, '5g5'),
 (1, '5d4'),
 (1, '5cm'),
 (1, '5am'),
 (1, '5G4'),
 (1, '55%'),
 (1, '530'),
 (1, '50s'),
 (1, '506'),
 (1, '502'),
 (1, '500m'),
 (1, '5000'),
 (1, '5-hill'),
 (1, '5-hacker'),
 (1, '5-9-2-E4'),
 (1, '5-8-3'),
 (1, '5-12'),
 (1, '4d4'),
 (1, '4c6'),
 (1, '4G6'),
 (1, '4G4G5'),
 (1, '4G3'),
 (1, '4BG7'),
 (1, '4BG5'),
 (1, '4B6'),
 (1, '4A3'),
 (1, '444'),
 (1, '42nd'),
 (1, '405'),
 (1, '4-stuff'),
 (1, '4-dnl'),
 (1, '4-black'),
 (1, '4-5'),
 (1, '3th'),
 (1, '3gf3'),
 (1, '3P5'),
 (1, '3K'),
 (1, '3GH'),
 (1, '3GC'),
 (1, '3G6'),
 (1, '3G5'),
 (1, '3Ft'),
 (1, '3D5'),
 (1, '396'),
 (1, '3839'),
 (1, '356'),
 (1, '35-01'),
 (1, '330'),
 (1, '324'),
 (1, '320'),
 (1, '32-50'),
 (1, '32-15'),
 (1, '3156'),
 (1, '3126'),
 (1, '312'),
 (1, '30am'),
 (1, '3032'),
 (1, '3-witch'),
 (1, '3-300'),
 (1, '3-20'),
 (1, '2v4'),
 (1, '2th'),
 (1, '2m'),
 (1, '2g7'),
 (1, '2e6'),
 (1, '2d5'),
 (1, '2b2'),
 (1, '2Rbox'),
 (1, '2D3'),
 (1, '2B1'),
 (1, '29だ'),
 (1, '29G3'),
 (1, '297'),
 (1, '28-100'),
 (1, '2785'),
 (1, '2777'),
 (1, '2769'),
 (1, '2766'),
 (1, '2735'),
 (1, '270'),
 (1, '2630'),
 (1, '2627'),
 (1, '26-50'),
 (1, '2507'),
 (1, "2500's"),
 (1, '250'),
 (1, '2400s'),
 (1, '240'),
 (1, '24-deal'),
 (1, '2292'),
 (1, '2285'),
 (1, '225'),
 (1, '2220'),
 (1, '2212'),
 (1, '210'),
 (1, '2065'),
 (1, '2050'),
 (1, '2040'),
 (1, '2008'),
 (1, '20-something'),
 (1, '2-dynos'),
 (1, '2-click'),
 (1, '2-E5'),
 (1, "2-9's"),
 (1, '2-8'),
 (1, '2-2'),
 (1, '1b6'),
 (1, '1F2'),
 (1, '1D6'),
 (1, '1B4'),
 (1, '1A1'),
 (1, '19a3'),
 (1, '1991'),
 (1, '1983'),
 (1, '1977'),
 (1, '1974'),
 (1, '1963'),
 (1, '1910'),
 (1, '19-3'),
 (1, '18th'),
 (1, '1894'),
 (1, '1812'),
 (1, '181'),
 (1, '1659'),
 (1, '1657'),
 (1, '1644'),
 (1, '1616'),
 (1, '1600s'),
 (1, '1589'),
 (1, '156'),
 (1, '1546'),
 (1, '1533'),
 (1, '1508'),
 (1, '1502'),
 (1, '146s'),
 (1, '146'),
 (1, "145's"),
 (1, '1395'),
 (1, '136th'),
 (1, '130'),
 (1, '12400'),
 (1, '12-1'),
 (1, '110'),
 (1, '10am'),
 (1, '10M'),
 (1, '10500'),
 (1, '10-9-C'),
 (1, '1-5'),
 (1, '0F6'),
 (1, '041'),
 (1, '0305'),
 (1, '026'),
 (1, '01'),
 (1, '007'),
 (1, '0000'),
 (1, '0-1'),
 (1, '0-0-2-5'),
 (1, "0's")]

In [27]:
counter = {}
for (count,word) in counted_vocab:
    counter[word] = count

In [30]:
def min_count(comment):
    for punctuation in [',','.','!','?',';',':','  ','  ','  ']:
        comment = comment.replace(punctuation,' ')
    counts = [counter[word] for word in comment.split()]
    if counts == []:
        return 1000000
    return min(counts)

df['rarest_word'] = df.comment.apply(min_count)

In [33]:
df.sort_values(by="rarest_word").comment.values

array([" Hello everybody, welcome to round 2 of Hunter Blitz Cup. I'm facing Russian Grandmaster  Grigory Oparre. He's usually quite strong online blitz, so I'm looking forward to a tough  match. I didn't really watch his first match, but I think he just won quite easily. Ok, so ",
       " Diwana.  It's a bit better.  Something tells me we've learned worse positions.  Yeah.  Yeah.  Yeah, I think that's.  This guy goes here.  Yeah, that's a nice, nice little square.  The night.  Seriously considering a vision to move.  Why wouldn't you?  I am pretty greedy.  This is what happens when I either come in sorry with Yester for like two weeks straight.  Like, oh my god, I'm.  Clearly, this is all Yester's fault.  Oh, it's.  Everything. ",
       ' So D4 here allows 95 also interesting, but D4 I like.  And if Q and F6 Bb G5, I will win immediately.  OK, this is cooperative move.  So I want D5, OK, D5 Bb G4, H3 also possible, my plan, OK, F6.  And now so I have space advantage and nice positions.  So I need to have my pawn on C4. ',
       ..., '. ', '. . . . . . ', '. '], dtype=object)

In [39]:
df[df['rarest_word']>10]

,Unnamed: 0,game_number,fen,color,moves,frame_number,next_frame_number,comment,rarest_word
1,1,0,rnbqkbnr/pppppppp/8/8/8/5N2/PPPPPPPP/RNBQKB1R,black,"['d7d5', 'g2g3']",790,870,"match. I didn't really watch his first match,...",316
2,2,0,rnbqkbnr/ppp1pppp/8/3p4/8/5NP1/PPPPPP1P/RNBQKB1R,black,['b8c6'],870,930,"match. I didn't really watch his first match,...",316
3,3,0,r1bqkbnr/ppp1pppp/2n5/3p4/8/5NP1/PPPPPP1P/RNBQ...,white,"['d2d4', 'c8f5']",930,1220,"match. I didn't really watch his first match,...",138
4,4,0,r2qkbnr/ppp1pppp/2n5/3p1b2/3P4/5NP1/PPP1PP1P/R...,white,"['f1g2', 'e7e6']",1220,1420,"much time, so I just, this is the only line I...",138
5,5,0,r2qkbnr/ppp2ppp/2n1p3/3p1b2/3P4/5NP1/PPP1PPBP/...,white,"['f3h4', 'f5g4']",1420,2060,with this. I just made my board quite big. Ok...,225
...,...,...,...,...,...,...,...,...,...
126,126,7,8/3n4/4kp2/R2p1P2/6PB/4PK2/8/1r6,black,['e6d6'],142480,142560,What's his name? I'm teasing. I know he's cal...,12
127,127,7,8/3n4/3k1p2/R2p1P2/6PB/4PK2/8/1r6,white,"['a5a6', 'b1b6']",142560,142710,What's his name? I'm teasing. I know he's cal...,12
128,128,7,8/3n4/Rr1k1p2/3p1P2/6PB/4PK2/8/8,white,"['a6b6', 'd7b6']",142710,142800,Why do I keep messing rook B6? How about this...,42
146,146,8,5r1k/p1p3pp/1b1q1N2/4N3/2QP4/4B2P/Pr4P1/5RK1,black,['f8f6'],154460,154770,"This has not gone well. 9.6, Ruket 6.9.7, 3....",20
147,147,8,7k/p1p3pp/1b1q1r2/4N3/2QP4/4B2P/Pr4P1/5RK1,white,"['e5f7', 'f6f7']",154770,154920,"9.6, Ruket 6.9.7, 3.6, also 9.7. Now, not jus...",20

In [54]:
116+106+104+116+120+104+93+86+14+24+107

990